<?xml version="1.0" encoding="UTF-8"?>
<included>

    <property name="server.name" value="localhost"/>

    <logger name="com.mangofactory.swagger">
        <level value="OFF" />
    </logger>

    <timestamp key="byYear" datePattern="yyyy"/>
    <timestamp key="byMonth" datePattern="MM"/>
    <timestamp key="byDate" datePattern="dd"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %c:%M:%L %m%n</Pattern>
        </encoder>
    </appender>

    <!-- 파일경로 설정 -->
    <property resource="axboot-production.properties"/>
    <property name="LOGS_ABSOLUTE_PATH" value="${axboot.log.path}" />

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_ABSOLUTE_PATH}/Web-${byYear}${byMonth}/logback-${byYear}${byMonth}${byDate}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                [%d{yyyy-MM-dd HH:mm:ss}] [%thread] %-5level- %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>90</maxHistory>
            <totalSizeCap>100GB</totalSizeCap>
            <fileNamePattern>${LOGS_ABSOLUTE_PATH}/Web-${byYear}${byMonth}/logback-%d{yyyyMMdd}-%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
</included>
