<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="metis.app.pmsWeb.domain.common.CommonMapper">

    <!-- Query 조회 -->
    <select id="selectQuery" resultType="hashMap">

        ${query}

    </select>


    <select id="selectEssInfo" resultType="hashMap" statementType="PREPARED">
        SELECT    ESS_CODE                AS essCode
                , ESS_TYPE                AS essType
                , ESS_NAME                AS essName
                , LATITUDE                AS latitude
                , LONGITUDE               AS longitude
                , AUTO_CONTROL_FLAG       AS autoControlFlag
                , TOTAL_BATTERY_ENERGY    AS batteryRemainElec
        FROM BASE_ESS
        WHERE 1=1
        LIMIT 1
    </select>


    <select id="selectLoginUser" resultType="int" parameterType="java.lang.String" statementType="PREPARED">

        SELECT count(*)

        FROM SYSTEM_LOGIN_USER

        WHERE USER_CD = #{userCd}
        AND LOGIN_STATUS = '1'

    </select>

    <update id="statusChangeLogout" parameterType="java.lang.String" statementType="PREPARED">

        UPDATE SYSTEM_LOGIN_USER SET LOGIN_STATUS = '2', UPDATED_AT = NOW()

        WHERE USER_CD = #{userCd}
        AND LOGIN_STATUS = '1'

    </update>

    <update id="updateLogoutAll" parameterType="java.lang.String" statementType="PREPARED">

        UPDATE SYSTEM_LOGIN_USER SET LOGIN_STATUS = '2', UPDATED_AT = NOW()

        WHERE USER_CD IN (
            SELECT USER_CD
            FROM SYSTEM_USER
            )
          AND LOGIN_STATUS = '1'

    </update>

    <insert id="insertLoginUser" parameterType="java.lang.String" statementType="PREPARED">

        INSERT INTO SYSTEM_LOGIN_USER(USER_CD, LOGIN_STATUS, LOGIN_DATE, UPDATED_AT)
            VALUES(#{userCd}, '1', NOW(), NOW())

    </insert>

    <update id="updateLoginStatus" parameterType="java.lang.String" statementType="PREPARED">

        UPDATE SYSTEM_LOGIN_USER SET UPDATED_AT = NOW()
        WHERE USER_CD = #{userCd}
        AND LOGIN_STATUS = '1'

    </update>

    <select id="selectMwInfo" resultType="deviceManagementVO" statementType="PREPARED">

        SELECT DEVICE_CATEGORY
             , DEVICE_CATEGORY_SUB
             , DEVICE_CODE
        FROM base_device
        WHERE DEVICE_CATEGORY = '90'
        AND   USE_FLAG = 'Y'
        LIMIT 1

    </select>

</mapper>